<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fortune Teller</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <br></br>
    <br></br>
    <br></br>
    <h1>Hey There <%= @name %></h1>
    <h2>Your Fortune For The Day</h2>


    <p1><%= @fortunes %></p1>


    <p><a href="/">I'm don't accept that as my fate. Give me another.</a></p>
    <p><a href="http://www.megamillions.com/">I'm ready to fulfill my destiny.</a></p>
  <script>


var bgcolorlist=new Array("#33FFFF", "#4DFFFF", "#FF5C5C", "#EAEAFF", "#C9FFA8", "#9999FF",
  "#99FFCC", "CE1483", "8075FF", "B0C8A9", "765892", "C7D1F2", "58A4B0", "#D4D980")

document.body.style.background=bgcolorlist[Math.floor(Math.random()*bgcolorlist.length)]
</script>

  </body>
</html>
